*{
    padding: 0%;
    margin: 0%;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    background-color: #003366;
    text-align: center;
    padding: 20px;
}

.menu1 a:hover{
    background-color: #0055cc;
}

a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 25px;
    padding: 14px;
}

.fotoparallax{
    background-image: url("../img/c1.jpg");
    background-attachment: fixed;
    height:480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fotoparallax h1{
    color: #003366;
    font-size: 36px;
    text-align: center;
    position: relative;
    top: 190px;

    
}

.fotoparallax p{
    color: #272727;
    font-size: 20px;
    text-align: center;
    margin-top: 235px;
}

.menu2{
    background-color: #f4f4f4;
    margin-top: 20px;
    text-align: center;
    padding: 50px;
}

.cards{
    display: inline-block;
    margin: 10px;
    width: 350px;
    height: 260px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    vertical-align: text-bottom;
    text-align: center;
       
}

.cards h2{
    color: #003366;
    margin-top: 10px;
}

.cards p{
    color: #555555;
}

.cards img{
    width: 200px;
    border: 10px;
    height: 140px;
}

.menu3{
    display: flex;
    align-items: flex-start;
}

.menu3 img{
    width: 475px;
    border: 10px;
    margin-top: 60px;
    margin-left: 160px;
    border-radius: 10px;
}

.text{
    margin-left: 60px; 
    align-self: flex-start;   
    margin-top: 64px;
}

.text h2{
    color: #003366;
}

.text p{
    color: #555555;
    margin-top: 15px;
}

footer{
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}

footer a:hover{
    color: #cccccc;
}



